.Search input
{
    padding: 5px;
    margin: 10px 0px;
    border-radius: none;
    border: 2px solid rgb(39, 38, 38);
    outline: none;
}
input:focus
{
    outline: none;
}

@media(max-width:520px)
{
    .Search input
    {
        border: 0px;
        border-radius: 5px;
    }
}