.App
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.App-Content
{
    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width:690px)
{
    .App-Content
    {
        width: 70vw;
    }
}

@media(max-width:520px)
{
    .App-Content
    {
        width: 90vw;
    }
}